
<div class="sidebar__admin">
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
                <a
                    routerLink="/admin"
                  
                >
                    <i class="pi pi-inbox"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/admin/users" >
                    <i class="pi pi-users"></i>
                    <p>Users</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/admin/jobs">
                    <i class="pi pi-book"></i>
                    <p>Jobs</p>
                </a>
            </li>
            <li>
                <a>
                    <i class="pi pi-comments"></i>
                    <p>Notifications</p>
                </a>
            </li>

            <li>
                <a>
                    <i class="pi pi-home"></i>
                    <p>About Us</p>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-bars"></i>
                    <p>Info</p>
                </a>
            </li>
        </ul>
        <button class="logout-btn text-center mt-4" (click)="signOut()">
            <p class="m-0">Log Out <i class="pi pi-sign-out"></i></p>
        </button>
    </div>
</div>
