<footer>
    <div class="container">
        <div class="row footer__wrapper">
            <a class="footer__brand" routerLink="/home">
                <img class="footer__logo"
                    src="https://fsoft-academy.edu.vn/public/frontend/images/image-fpt/group-34.png"
                    alt=""
                />
            </a>
            <div class="footer__content">
                <p>HCM21_FR_Angular_02_Team_01</p>
            </div>
        </div>
        <div class="row">
            <p>&#169; FPT SOFTWARE ACADEMY</p>
        </div>
    </div>
</footer>
