.templates-container {
    position: relative;

    a {
        text-decoration: none;
        color: #000;
    }

    .template-item-document {
        width: 100%;
        padding: 0 0 10px 0;

        &:hover {
            cursor: pointer;

            & {
                .template-item-document__image-container {
                    overflow: hidden;

                    &__image {
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.2);
                    }
                }
            }
        }

        &__image-container {
            height: 80%;
            margin-bottom: 0.5rem;

            &__image {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__name-container {
            margin: 0;
            font-size: 1.2rem;
            text-align: center;
        }
    }
}