<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar__background">
        <div class="container navbar__wrapper">
            <a class="navbar-brand" routerLink="/home">
                <img
                    class="navbar__logo"
                    src="https://fsoft-academy.edu.vn/public/frontend/images/image-fpt/group-34.png"
                    alt=""
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar__list">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cv-list">Tạo CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user-cv-list">Quản lý CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="jobs">Khóa đào tạo</a>
                    </li>
                    <li class="nav-item" *ngIf="userToken === ''; else user">
                        <a class="nav-link" routerLink="login">Đăng nhập</a>
                    </li>
                    <ng-template #user>
                        <li class="nav-item dropdown navbar__user">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img  [src]="userData.avatar" alt="">
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <li *ngIf="userData.isAdmin else notAdmin">
                                    <a class="dropdown-item" routerLink="/admin"
                                        >Admin</a
                                    >
                                </li>
                                <ng-template #notAdmin>  
                                    <li>
                                        <a class="dropdown-item" routerLink="/user"
                                            >Thông tin cá nhân</a
                                        >
                                    </li> 
                                    <li>
                                        <a class="dropdown-item" routerLink="/user/history-applied"
                                            >Công việc đã ứng tuyển</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Quản lý CV</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Thay đổi mật khẩu</a
                                        >
                                    </li>
                                </ng-template>
                                <li>
                                    <a class="dropdown-item" href="#" (click)="signOut()"
                                        >Đăng xuất</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>
