<div class="admin-main">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Thành viên</p>
                            <h2 class="font-weight-bold">{{userList?.length}}</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class=" admin-main--bg-gray-bright admin-main--text-gray  ">
                                    <i class="fas fa-users"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Tổng CV</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-blue-bright admin-main--text-blue  ">
                                    <i class="fas fa-copy"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Số lượng công việc</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-pink-bright admin-main--text-pink  ">
                                    <i class="fas fa-clipboard-list"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Số lượng Apply Jobs</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-info-bright admin-main--text-info  ">
                                    <i class="fas fa-list-ul"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 offset-md-2">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Tổng CV Pass</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-success-bright admin-main--text-success  ">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Tổng CV Pending</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-warning-bright admin-main--text-warning  ">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="admin-main__card">
                <div class="card-body">
                    <div class="admin-main__card-content">
                        <div>
                            <p class="text-muted">Tổng CV Failed</p>
                            <h2 class="font-weight-bold">9,621</h2>
                        </div>
                        <div>
                            <figure class="admin-main__card-avatar">
                                <span class="admin-main--bg-danger-bright admin-main--text-danger  ">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </figure>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>