<section class="banner">
    <div class="banner__img">
        <img src="https://fsoft-academy.edu.vn/du-hoc-nhat-ban/public/media/banner_fpt.jpg"
            alt="image banner">
    </div>
    <div class="banner__content">
        <div class="banner__content-text">
            <h2>FPT SOFTWARE ACADEMY</h2>
            <h3>TUYỂN DỤNG & ĐÀO TẠO</h3>
        </div>
        <div class="create__apply">
            <a href="#" class="custom__btn custom__btn-create">TẠO CV ONLINE</a>
            <a routerLink='/jobs' class="custom__btn custom__btn-apply">APPLY CV</a>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
<section class="job__carousel">
    <app-job-description-carousel></app-job-description-carousel>
</section>
<section class="cv__carousel">
    <app-cv-carousel></app-cv-carousel>
</section>