<nav class="navbar__custom d-flex align-items-center">
    <div class="navbar__logo">
        <a href="#">
            <img src="https://fsoft-academy.edu.vn/public/frontend/images/image-fpt/group-34.png" alt="navbar logo">
        </a>
    </div>
    <div class="navbar__content d-flex align-items-center justify-content-between">
        <div class="navbar__welcome">
            <h2>Welcome to Admin!</h2>
        </div>
        <div class="navbar__account">
            <a href="#">
                <figure>
                    <img src="https://fsoft-academy.edu.vn/public/frontend/images/image-fpt/group-34.png"
                        alt="navbar logo">
                </figure>
                <span>Hello! Admin</span>
            </a>
        </div>
    </div>
</nav>