$heading-color: #00b14f;
$text-color: #000000;
$label-color: #2db14f;
$text-white-color: #fff;
$background-white-color: #fff;

$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;

$white-color: #ffffff !default;
$white-bg: #ffffff !default;
$orange-bg: #e95e38 !default;

$smoke-bg: #f5f5f5 !default;
$light-black: #444 !default;

$black-bg: rgba(30, 30, 30, 0.97) !default;

$black-color: #2c2c2c !default;
$black-hr: #444444 !default;

$hr-line: rgba(0, 0, 0, 0.1) !default;

$light-gray: #e3e3e3 !default;
$medium-gray: #dddddd !default;
$dark-gray: #9a9a9a !default;

$opacity-gray-3: rgba(222, 222, 222, 0.3) !default;
$opacity-gray-5: rgba(222, 222, 222, 0.5) !default;
$opacity-gray-8: rgba(222, 222, 222, 0.8) !default;

$opacity-5: rgba(255, 255, 255, 0.5) !default;
$opacity-8: rgba(255, 255, 255, 0.8) !default;

$datepicker-color-days: rgba(255, 255, 255, 0.8) !default;
$datepicker-color-old-new-days: rgba(255, 255, 255, 0.4) !default;

$opacity-1: rgba(255, 255, 255, 0.1) !default;
$opacity-2: rgba(255, 255, 255, 0.2) !default;

$transparent-bg: transparent !default;
$dark-background: #555555 !default;

$default-color: #888 !default;
$default-states-color: lighten($default-color, 6%) !default;
$default-color-opacity: rgba(182, 182, 182, 0.6) !default;

$btn-round-radius: 30px !default;
$font-size-mini: 0.8em !default;
$font-size-small: 0.8571em !default;

$line-height-nav-link: 1.625rem !default;
$navbar-padding-base: 1.2rem;
$padding-btn-vertical: 11px !default;
$box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
$sidebar-box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2),
  0px 2px 30px 0 rgba(0, 0, 0, 0.35);
$border-radius-small: 0.1875rem !default;

$padding-large-vertical: 15px !default;
$padding-large-horizontal: 48px !default;
$padding-btn-horizontal: 22px !default;
$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;

$font-size-large: 1em !default;
$font-weight-normal: 400 !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 15px !default;
