/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.owl-carousel {
    & .owl-item{
        padding: 0 15px;
    }
}
.owl-theme{
    & .owl-nav {
        margin-top: 0 !important;
        position: relative;
        height: 40px;
        & .owl-prev{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 70px;
        }   
        & .owl-next{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 30px;
        }
    }
}